body { 
    background: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    margin: 40px;
}
h1 {
    text-align: center;
    color: crimson;
}
h2 {
    text-align: center;
    color: #16CDD4;
}
h3 {
    text-align: center;
    color: rgb(168, 92, 168);
}
h5 {
    text-align: center;
    color: rgb(168, 92, 168)
}
.centered {
    margin: 0 auto;
}
.programs {
    text-align: center;
}
.about {
    background: rgb(189, 246, 246);
    text-align: center;
    color: #16CDD4;
}
.skills {
    background: #f59c9c;
    text-align: center;
    color: crimson;
}
.projects {
    background: rgb(189, 246, 246);
    text-align: center;
    color: #16CDD4;
}
.contact {
    background: white;
    text-align: center;
    color: black;
}