body { 
    background: #f07777;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    margin: 40px;
}
h1 {
    text-align: center;
    color: crimson;
}
h2 {
    text-align: center;
    color: #16CDD4;
}
h3 {
    text-align: center;
    color: #DF96F3;
}
.about {
    background: rgb(151, 249, 249);
    text-align: center;
    color: #16CDD4;
}
.skills {
    background: #f07777;
    text-align: center;
    color: crimson;
}
.projects {
    background: rgb(151, 249, 249);
    text-align: center;
    color: #16CDD4;
}
.contact {
    background: white;
    text-align: center;
    color: Black;
}